<div class="display">
  {{displayText}}
</div>

<!-- BEGIN BUTTONS SECTION -->
<div class="buttons">
  <div class="number-buttons">
    {{#each numberButtons as |numberButton|}}
      <button type="button"
              id="button-{{numberButton}}"
              {{on "click" (fn this.addNumberToDisplay numberButton)}} >
        {{numberButton}}
      </button>
    {{/each}}
    <button type="button"
            id="decimal-point"
            {{on "click" this.addDecimalPointToDisplay}}>.</button>
  </div>
  <div class="operation-buttons">
    <button type="button" {{on "click" (fn this.executeOperation "+")}}>+</button>
    <button type="button" {{on "click" (fn this.executeOperation "-")}}>-</button>
    <button type="button" {{on "click" (fn this.executeOperation "*")}}>X</button>
    <button type="button" {{on "click" (fn this.executeOperation "/")}}>/</button>
    <button type="button" {{on "click" this.getResult}}>=</button>
  </div>
</div>
<!-- END OF BUTTONS SECTION -->
