<div class="display">
  {{result}}  
</div>

<div class="buttons">
  <div class="number-buttons">
    {{#each numberButtons as |numberButton|}}
      <button type="button" id="button-{{numberButton}}" {{on "click" (fn this.addNumberToDisplay numberButton)}}>
        {{numberButton}}
      </button>
    {{/each}}
  </div>
</div>
{{yield}}
