<div class="container">
  <div class="row" >
    {{!-- BEGIN CALCULATOR DIV--}}
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4" id="calculator" tabindex="0"
         {{did-insert this.focus}}
         {{on "keydown" this.keyDown}}>
      {{!-- BEGIN DISPLAY SECTION --}}
      <div class="row">
        <div class="col display-container">
          <div class="display">
            {{this.displayText}}
          </div>
        </div>
      </div>
      {{!-- END OF DISPLAY SECTION --}}
      
      {{!-- BEGIN BUTTONS SECTION --}}
      <div class="buttons row">
        <div class="number-buttons col-6 col-sm-8 col-md-8 col-lg-8">
          {{#each this.numberMatrix as |numberRow|}}
            <div class="row buttons-row">
              {{#each numberRow as |numberButton|}}
                <div class="col text-center">
                  <button type="button"
                          id="button-{{numberButton}}"
                          class="btn btn-primary number-button"
                          {{on "click" (fn this.addNumberOrDotToDisplay numberButton)}}>
                    {{numberButton}}
                  </button>
                </div>
              {{/each}}
            </div>
          {{/each}}
          <div class="row buttons-row">
            <div class="col-4 text-center">
              <button type="button" id="button-0" class="btn btn-primary number-button"
                      {{on "click" (fn this.addNumberOrDotToDisplay '0')}}>0</button>
            </div>
            <div class="col-4 text-center">
              <button type="button" id="decimal-point" class="btn btn-primary number-button"
                      {{on "click" (fn this.addNumberOrDotToDisplay '.')}}>.</button>
            </div> 
          </div>
        </div>

        <div class="operation-buttons col-6 col-sm-4 col-md-4 col-lg-4">
          <div class="row buttons-row">
            <div class="col text-center">
              <button type="button" id="multiply-button" class="btn operator-button"
                      {{on "click" (fn this.executeOperation "*")}}>x</button>
            </div>
            <div class="col text-center">
              <button type="button" id="division-button" class="btn operator-button"
                      {{on "click" (fn this.executeOperation "/")}}>รท</button>
            </div>
          </div>
          
          <div class="row buttons-row">
            <div class="col text-center">
              <button type="button" id="sum-button" class="btn operator-button"
                      {{on "click" (fn this.executeOperation "+")}}>+</button>
            </div>
            <div class="col text-center">
              <button type="button" id="subtract-button" class="btn operator-button"
                      {{on "click" (fn this.executeOperation "-")}}>
                -
              </button>
            </div>
          </div>  

          <div class="row buttons-row">
            <div class="col text-center">
              <button type="button" id="equal-button" class="btn"
                {{on "click" this.getResult}}>
                =
              </button>
            </div>
            <div class="col text-center">
              <button type="button" id="clear-button" class="btn" {{on "click" this.clear}}>
                C
              </button>
            </div>
          </div> 
        </div>
      </div>
      {{!-- END OF BUTTONS SECTION --}}
    </div>
    {{!-- END OF CALCULATOR DIV--}}
  </div>
</div>
